<div class="outer-container">
  <div class="mat-h2">Universidade de Fortaleza (UNIFOR), 2020.2</div>
  <div>Disciplina: Resolução de Problemas com Grafos</div>
  <div>Professor: Rafael Garcia Barbosa</div>
  <div class="authors-container">
    Alunos:&nbsp;
    <div class="authors-list">
      <div>
        Divaldo Aderaldo de Oliveira Junior (1810534)
      </div>
      <div>
        Edilson Oliveira Maia Neto (1510391)
      </div>
      <div>
        Felipe Aragão Carvalho (1710475)
      </div>
    </div>
  </div>
  <div class="buttons-container">
    <button mat-flat-button mat-dialog-close	>
      Voltar
    </button>
  </div>
</div>
