.authors-container {
  display: flex;
  flex-direction: row;
}

.authors-list {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

button {
  color: white;
  background-color: darkblue;
}
